.wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  
}
.form {
width: 350px;
padding:32px;
align-items: center;
text-align:center;
border-radius: 10px;
box-shadow: 0 4px 16px #ccc;
font-family: sans-serif;
 letter-spacing: 1px;
}
.form__title {
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: normal;

}
.form__group {
  position: relative;
  margin-bottom:  32px;
}
.form__input {
  width: 100%;
  padding: 0 0 10px 0;
  border:none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  transition: all 0.3;
}
.form__label {
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color:rgb(124, 115, 115);
  transition: all 0.3s;
  font-size: 20px;
}

.form__button {
  font-family: sans-serif;
 letter-spacing: 1px;
 font-size: 16px;
 background-color: rgb(11, 56, 255);
 padding:14px 65px;
 margin:60px 0 auto;
 border: none;
border-radius: 5px;

 text-decoration: none;
 color: white;
}
.form__input:focus{
  border-bottom: 1px solid rgb(52, 5, 141);
  transition: all 0.4s;

}
.form__button:focus,
.form__button:hover{
  background-color: rgb(38, 139, 84);

}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown)~ .form__label
{
  top:-18px;
  font-size: 15px;
  color:#978181;
}